
.character {
    line-height: 2;
}


.textBit {
    position: relative;
}

/* .chordLabel {
    position: absolute;
    top: -17px;
    cursor: pointer;
    color: blue;
    font-weight: bold;
    font-size: 0.9rem;
} */

.chordImage{
    position: absolute;
    z-index: 10;
    bottom: 42px;
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px black;
    padding: 10px;
}

.chordImage img {
    width: 120px;
    max-width: 120px;
}

.songBody {
    margin-top: 86px;
    font-size: 16px;
}

.songName {
    margin-bottom: 5px;
    margin-left: 10px;
    color: #f2ac2b;
    font-weight: bold;
}

.songPage {

}

.ban {
    margin-right: 5px;
}

.coupletWrapper {
    margin-bottom: 53px;
}

.chorusWrapper {
    margin-bottom: 40px;
}

.imageLabel {
    font-size: 2rem;
}

.songAuthors {
    display: flex;
    margin-top: 25px;
    margin-left: 10px;
}

.songAuthor {
    margin-right: 15px;
}

.coupletChordsBtn {
    cursor: pointer;    
}

.scroll.settings {
    margin-right: 50px;
}

.coupletChordsList {
    background: white;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.coupletChordImg {
    height: 90px;
}

.settings {
    display: flex;
    align-items: center;
    margin: 5px 0px;
}

.font.settings {
    margin-right: 50px;
}

.operator {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: 1px;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
}

.fontOperator.plus {

}

.fontOperator.minus {

}

.majorSettings {
    margin: 0px 0px 70px 0px;
    display: flex;
    flex-wrap: wrap;
}

.label {
    margin-right: 20px;
}

.size {
    margin: 0 10px;
}

.sign {
    margin: 0 3px;
}

.rightHandLabel {
    margin-right: 10px;
    margin-bottom: 10px;
}

.rightHandText {

}

.closeChordBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    color: black;
}

.fbComments {
    margin-top: 111px;
    width: 100%;
}

.videoTutorial {
    height: 500px;
    margin-top: 80px;
}

.songVotesWrapper {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.songDifficultiesWrapper {
    display: flex;
    align-items: end;
}

.difficultiesWrapper {
    margin-left: 10px;
    width: 128px;
}

.chordsofsongs {
    background-image: url('/chordsofsongs_desktop.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 212px;
    border-radius: 4px;
    width: 100%;
}

@media (max-width: 992px) {
    .chordsofsongs {
        background-image: url('/chordsofsongs_mobile.png');
        height: 330px;
    }
}

@media screen and (max-width: 768px) {
    .songVotesWrapper {
        justify-content: space-between;
    }

    .songDifficultiesWrapper {
        justify-content: space-between; 
    }

    .difficultiesWrapper {
        margin-left: 0px;
    }
}

.uploaderWrapper {
    font-size: 15px;
    margin-top: 80px;
}

.postSongArea {
    margin-top: 80px;
    font-size: 15px;
}

.lineWrapper.rightHand {
    margin-bottom: 35px;
    display: flex;
    font-style: italic;
    margin-left: 10px;
}

.lineWrapper {
    display: flex;
    margin-top: 25px;
    flex-wrap: wrap;
}

.lineWrapper.break {
    height: 30px; 
}

.chordLabel, .addChord {
    position: absolute;
    top: -13px;
    cursor: pointer;
    color: #5286ed;
    font-weight: bold;
    font-size: 0.9rem;
    z-index: 10;
}