.authors {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}


.songDetails {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}


.songLink {
    text-decoration: none;
    color: black;
    background: #1e2237;
    display: flex;
    height: 100%;
    border: 1px solid rgba(210,210,223,.2);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.searchComponent {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
}

.songName {
    color: #5286ed;
    font-size: 1.3rem;
    padding: 15px;
}

.filterContainer {
    display: flex;
}

.filterSongs {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 50%;
    padding-right: 10px;
}

.filter {
    padding: 10px;
    background: #1e2237;
    border-radius: 3px;
    margin-left: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(210,210,223,.2);
    border-radius: 5px;
}

.filterSelected {
    background-color: #004aad;
}

.sortContainer,
.filterContainer {
  display: flex;
  align-items: center;
}

.sortContainer {
    margin-right: 1px;
    margin-left: 10px;
    width: 150px;
}

.sortContainer > * {
  height: 100%;
}

.filterContainer > * {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vacancyImage {
    background-image: url('/vacancy_desktop.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 212px;
    border-radius: 4px;
    width: 100%;
}

@media (max-width: 992px) {
    .searchComponent {
        width: 100%;
    }

    .vacancyImage {
        background-image: url('/vacancy_mobile.png');
        height: 330px;
    }

    .filterSongs {
        width: 100%;
        justify-content: space-between;
        margin-top: 24px;
    }
}