


.authors {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}


.songDetails {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}


.songLink {
    text-decoration: none;
    color: black;
}

.searchComponent {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.songName {
    color: #5286ed;
    font-size: 1.3rem;
    padding: 15px;
}

.filterContainer {
    display: flex;
}

.filterSongs {
    display: flex;
    justify-content: flex-end;
    margin-top: 70px;
    margin-right: 10px;
    flex-wrap: wrap;
}

.filter {
    padding: 10px;
    background: #ececec;
    border-radius: 3px;
    margin-left: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filterSelected {
    background-color: #bfffcd;
}

.sortContainer,
.filterContainer {
  height: 40px;
  display: flex;
  align-items: center;
}

.sortContainer {
    margin-right: 20px;
}

.sortContainer > * {
  height: 100%;
}

.filterContainer > * {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}