.footerWrapper {
    padding: 120px 0;
    background-position: bottom;
    background-size: cover;
}

.topGeWrapper{
    display: flex;
    justify-content: center;
}

.feedback {
    width: 50%;
}

.linksDivider {
    width: 8px;
    height: 8px;
    background-color: #684504;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.quickLinks {
    justify-content: center;
}

.quickLink {
    display: flex;
    align-items: center;
}

.linksAndCopyright{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright {
    text-align: right;
    margin-top: 30px;
    font-size: 0.9rem;
}

@media (max-width: 992px) {
    .feedback {
        width: 100%;
    }

    .quickLinks {
        justify-content: center;
    }

    .linksAndCopyright{
        width: 100%;
        margin-top: 25px;
    }

    .copyright {
        width: 100%;
        text-align: center;
    }
}