.headerWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    position: relative;
    flex-wrap: wrap;
}

.fakeDiv {
    width: 30%;
}

.logoArea {
    width: 40%;
}

.authWrapper {
    display: flex;
    align-items: start;
    padding: 17px 0px 17px 0px;
    justify-content: end;
}


.authWrapper img {
    border-radius: 50%;
    width: 24px;
    height: 24px;
}