.bitWrapper {
    display: flex;
    position: relative;
    margin: 0 9px;
}

.lineWrapper {
    display: flex;
    margin: 20px 0px;
    align-items: center;
}

.lineActionBtns {
    display: flex;
    margin-right: 35px;
}

.editInputWrapper {
    display: flex;
    align-items: flex-start;
}

.editInput {
    padding: 20px;
    height: auto;
    width: 80%;
}

.breakDiv {
    width: 200px;
}

.charLabel {
    line-height: 2.5;
}

.chordLabel, .addChord {
    position: absolute;
    top: -13px;
    cursor: pointer;
    color: #5286ed;
    font-weight: bold;
    font-size: 0.9rem;
    z-index: 10;
}

.saveBtn {
    width: 18%;
    color: white;
    border-color: white;
}

.addChord {
    left: -2px;
}

.poemActionBtns {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.poemActionBtn {
    margin: 2px 2px;
    color: white;
    background-color: #004aad;
}

.rightHand {
    font-style: italic;
    margin-left: 9px;
}

.actionBtn {
    margin-right: 10px;
    cursor: pointer;
}

.actionPlace {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}