.videoLessonIcon {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.confirmedIcon {
    display: flex;
    align-items: center;
}

.songMetaRight {
    display: flex;
    align-items: center;
}

.votesSumWrapper {
    display: flex;
    align-items: center;
}

.songName{
    padding: 15px;
    font-size: 1.6rem;
}

.songLink {
    text-decoration: none;
    color: black;
}

.songDetails {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
}

.authors {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px;
}

.songMeta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 30px;
    width: calc(100% - 20px);
    padding: 0px 25px;
    box-sizing: border-box;
}